@import './Header.css';
@import './Missions.css';
@import './Image.css';

.btn{
    display: flex;
    background-color: #215184da;
    color: white;
    font-size: 16px;
    font-weight: 500;
    height: 45px;
    width: 160px;
    justify-content: space-around;
    padding: 10px 15px;
    border-radius: 0;
    align-items: center;
}

.filter-btns-container{
    display: flex;
    margin-right: 80px;
    margin-top: 30px;
    justify-content: right;
}

.filter {
    margin-right: 15px;
}